[deployment]
run = ["sh", "-c", "npm run build && npm run start"]
deploymentTarget = "gce"

[nix]
channel = "stable-24_05"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[objectStorage]
defaultBucketID = "replit-objstore-default"

[[ports]]
localPort = 5000
externalPort = 80